<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        Student Portal
        {% endblock %}
    </title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand" href="/">
            Student Portal
        </a>

        <div>

            <a
                class="btn btn-success me-2"
                href="/register/"
            >
                Register
            </a>

            <a
                class="btn btn-primary me-2"
                href="/login/"
            >
                Login
            </a>

            <a
                class="btn btn-warning me-2"
                href="/students/"
            >
                Students
            </a>

            <a
                class="btn btn-info me-2"
                href="/marks-list/"
            >
                Results
            </a>

            <a
                class="btn btn-secondary me-2"
                href="/attendance-history/"
            >
                Attendance
            </a>

            <a
                class="btn btn-danger"
                href="/logout/"
            >
                Logout
            </a>

        </div>

    </div>

</nav>


<div class="container mt-3">

    {% if messages %}

        {% for message in messages %}

            <div class="alert alert-success">

                {{ message }}

            </div>

        {% endfor %}

    {% endif %}


    {% block content %}

    {% endblock %}

</div>


</body>

</html>