{% extends 'base.html' %}

{% block title %}
Add Marks
{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-header bg-success text-white">
            <h2>Add Student Marks</h2>
        </div>

        <div class="card-body">

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit" class="btn btn-success">
                    Save Marks
                </button>

                <a href="/dashboard/" class="btn btn-secondary">
                    Dashboard
                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}